<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <span style="color: white;"
          >{% if user.is_authenticated %} Olá, {{ user.get_username }}! {% endif %}</span
        >
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'playlists:list' %}"
                >Playlists
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:logout' %}">Sair</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:login' %}">Entrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:signup' %}"
                >Criar conta</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
{% if messages %}
  {% for message in messages %}
    <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endfor %}
{% endif %}
    <main role="main" class="container">
      {% block main %} {% endblock main %}
    </main>
    <script
      type="text/javascript"
      src="{% static 'js/jquery-3.4.1.min.js' %}"
    ></script>

    <script
      type="text/javascript"
      src="{% static 'js/bootstrap.min.js' %}"
    ></script>
  </body>
</html>
